<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <!--<label>希望するアカウント名</label> -->
            <input type="text" class="form-control" placeholder="希望するアカウント名" name="accountName" required/>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <!--<label>姓(漢字)</label> -->
            <input type="text" class="form-control" placeholder="姓(漢字)" name="kanjiFamilyName" required/>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <!--<label>名（漢字)</label> -->
            <input type="text" class="form-control" placeholder="名(漢字)" name="kanjiFirstName" />
        </div>
    </div>

</div>


<div class="row">
<div class="col-sm-6">
    <div class="form-group">
        <!--<label>姓(ローマ字)</label> -->
        <input type="text" class="form-control" placeholder="姓(ローマ字)" name="romanFamilyName" />
    </div>
</div>

<div class="col-sm-6">
    <div class="form-group">
        <!--<label>名(ローマ字)</label> -->
        <input type="text" class="form-control" placeholder="名（ローマ字)" name="romanFirstName" />
    </div>
</div>

</div>

<div class="row">
<div class="col-sm-6">
    <div class="form-group">
        <!--<label>メールアドレス</label>-->
        <input type="text" class="form-control" placeholder="メールアドレス" name="email" />
    </div>
</div>

<div class="col-sm-6">
    <div class="form-group">
        <!--<label>メールアドレス(再入力)</label>-->
        <input type="text" class="form-control" placeholder="メールアドレス(再入力)" name="emailRepeat" />
    </div>
</div>

</div>


<div class="row">
<div class="col-sm-12">
    <div class="form-group">
        <!--<label>利用目的</label> -->
        <textarea class="form-control" placeholder="利用目的" rows="5" name="purposeOfUse" ></textarea>
    </div>
</div>
</div>


<div class="row">
<div class="col-sm-6">
    <div class="form-group">
        <!--<label>国籍</label>-->
        <input type="text" class="form-control" placeholder="国籍" name="userNationality"/>
    </div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            所属機関の情報
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <!--<label>研究機関名</label>-->
                        <textarea class="form-control" placeholder="所属機関名" rows="1" name="userAffiliation"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <!--<label>部局名・研究室名</label>-->
                        <textarea class="form-control" placeholder="部局・研究室名" rows="1" name="userLabName" ></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <!--<label>郵便番号</label> -->
                        <input type="text" class="form-control" placeholder="郵便番号" name="userPostalCode" />
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="form-group">
                        <!--<label>住所</label> -->
                        <textarea class="form-control" placeholder="所属機関の所在地" rows="1" name="userAddress" ></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <!--<label>電話番号</label> -->
                        <input type="text" class="form-control" placeholder="電話番号" name="userPhoneNumber" />
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <!--<label>内線番号</label> -->
                        <textarea class="form-control" placeholder="内線番号" rows="1" name="userExtension" ></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <!--<label>職名</label>-->
                        <input type="text" class="form-control" placeholder="職名" name="userTitle" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

