<!DOCTYPE html>
<html lang="en">  
<head>    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>ToDo's API Login Page</title>    
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/signin.css" rel="stylesheet"/>
</head>

<body>    
    <div class="container">
        <form class="form-signin" action="/login" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>        
            <label class="sr-only">Username</label>        
            <input type="text" name="username" class="form-control" placeholder="Username"/>
            <label class="sr-only">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password"/>
            <button class="btn btn-lg btn-primary btn-block" id="login" type="submit">Sign in</button>        
            <input type="hidden" name="_csrf" value="{{_csrf.token}}" />      
        </form>
        <a href="/register">Register New User</a>
    </div>  
</body>
</html>