<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <!--<label>希望するアカウント名</label> -->
            <input type="text" class="form-control" placeholder="希望するアカウント名" required/>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <!--<label>姓(漢字)</label> -->
            <input type="text" class="form-control" placeholder="姓(漢字)" required/>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <!--<label>名（漢字)</label> -->
            <input type="text" class="form-control" placeholder="名(漢字)" required/>
        </div>
    </div>

</div>


<div class="row">
<div class="col-sm-6">
    <div class="form-group">
        <!--<label>姓(ローマ字)</label> -->
        <input type="text" class="form-control" placeholder="姓(ローマ字)" required/>
    </div>
</div>

<div class="col-sm-6">
    <div class="form-group">
        <!--<label>名(ローマ字)</label> -->
        <input type="text" class="form-control" placeholder="名（ローマ字)" required/>
    </div>
</div>

</div>

<div class="row">
<div class="col-sm-6">
    <div class="form-group">
        <!--<label>メールアドレス</label>-->
        <input type="text" class="form-control" placeholder="メールアドレス" required/>
    </div>
</div>

<div class="col-sm-6">
    <div class="form-group">
        <!--<label>メールアドレス(再入力)</label>-->
        <input type="text" class="form-control" placeholder="メールアドレス(再入力)" required/>
    </div>
</div>

</div>


<div class="row">
<div class="col-sm-12">
    <div class="form-group">
        <!--<label>利用目的</label> -->
        <textarea class="form-control" placeholder="利用目的" rows="5" required></textarea>
    </div>
</div>
</div>


<div class="row">
<div class="col-sm-6">
    <div class="form-group">
        <!--<label>国籍</label>-->
        <input type="text" class="form-control" placeholder="国籍" required/>
    </div>
</div>
</div>

<div class="row">
<div class="col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            所属機関の情報
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <!--<label>研究機関名</label>-->
                        <textarea class="form-control" placeholder="所属機関名" rows="1" required></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <!--<label>部局名・研究室名</label>-->
                        <textarea class="form-control" placeholder="部局・研究室名" rows="1" required></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <!--<label>郵便番号</label> -->
                        <input type="text" class="form-control" placeholder="郵便番号" required/>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="form-group">
                        <!--<label>住所</label> -->
                        <textarea class="form-control" placeholder="所属機関の所在地" rows="1" required></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <!--<label>職名</label>-->
                        <input type="text" class="form-control" placeholder="職名" required/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

