<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label>責任者の姓(漢字)</label>
            <input type="text" class="form-control" placeholder="姓" required/>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <label>責任者の名（漢字)</label>
            <input type="text" class="form-control" placeholder="名" required/>
        </div>
    </div>

</div>


<div class="row">
<div class="col-sm-6">
    <div class="form-group">
        <label>責任者の姓(ローマ字)</label>
        <input type="text" class="form-control" placeholder="姓(ローマ字)" required/>
    </div>
</div>

<div class="col-sm-6">
    <div class="form-group">
        <label>責任者の名(ローマ字)</label>
        <input type="text" class="form-control" placeholder="名（ローマ字)" required/>
    </div>
</div>

</div>

<div class="row">
<div class="col-sm-6">
    <div class="form-group">
        <label>メールアドレス</label>
        <input type="text" class="form-control" placeholder="" required/>
    </div>
</div>
</div>

<div class="row">
<div class="col-sm-6">
    <div class="form-group">
        <label>電話番号</label>
        <input type="text" class="form-control" placeholder="" required/>
    </div>
</div>

<div class="col-sm-6">
    <div class="form-group">
        <label>内線番号</label>
        <input type="text" class="form-control" placeholder="" required/>
    </div>
</div>

</div>


<div class="row">
<div class="col-sm-6">
    <div class="form-group">
        <label>国籍</label>
        <input type="text" class="form-control" placeholder="" required/>
    </div>
</div>
</div>

<hr/>

<div class="row">
<div class="col-sm-6">
    <div class="form-group">
        <label>研究機関名</label>
        <textarea class="form-control" placeholder="" rows="1" required></textarea>
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        <label>部局名・研究室名</label>
        <textarea class="form-control" placeholder="" rows="1" required></textarea>
    </div>
</div>
</div>

<div class="row">
<div class="col-sm-3">
    <div class="form-group">
        <label>郵便番号</label>
        <input type="text" class="form-control" placeholder="" required/>
    </div>
</div>

<div class="col-sm-9">
    <div class="form-group">
        <label>住所</label>
        <textarea class="form-control" placeholder="" rows="1" required></textarea>
    </div>
</div>
</div>
<div class="row">
<div class="col-sm-6">
    <div class="form-group">
        <label>職名</label>
        <input type="text" class="form-control" placeholder="" required/>
    </div>
</div>
</div>





