

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <tbody>
            <tr>
                <td class="col-xs-4">一般解析環境　ストレージ大規模利用・計算ノード占有利用等</td>
                <td class="col-xs-8">30TBを超える計算用高速ストレージを利用する場合等は課金の対象となります。<a href="">一般解析環境の利用方法と課金体系</a>をご確認の上<a href="">利用計画表</a>を提出してください。</td>
            </tr>
            <tr>
                <td>個人ゲノム解析環境（計算ノード占有利用）</td>
                <td>個人ゲノム解析環境は課金によるサービスです。<a href="">個人ゲノム解析環境の利用方法と課金体系</a>をご確認の上<a href="">利用計画表</a>を提出してください。</td>
            </tr>
            <tr>
                <td>Japanese Genotype-phenotype Archive (JGA)</td>
                <td>JGAの利用アカウントを持っている場合は以下に入力してください。
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="ID1, ID2, ..."/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>AMED Genome group sharing Database (AGD)</td>
                <td>AGDの利用アカウントを持っている場合は以下に入力してください。
                    <div class="form-group">
                    <input type="text" class="form-control" placeholder="ID1, ID2, ..."/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>パブリッククラウド連携機能</td>
                <td>(株)Fusicの協力により、請求書払によりAmazon Web Service (AWS)が利用できます。遺伝研スパコンとの連携・高速なデータ転送機能、利用金額上限に近づいたときのアラート機能、上限で自動的にサービスを止める機能を有します。
                    利用に際しては遺伝研は介在せず各ユーザーが個別に契約する形となりますので<a href="">(株)Fusicのサイトからユーザー登録</a>してください。</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>



