<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label>責任者のアカウント名</label>
            <input type="text" class="form-control" placeholder="" name="respAccountName" />
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <label>責任者のグループ名</label>
            <input type="text" class="form-control" placeholder="" name="respGroupName" />
        </div>
    </div>

</div>

<div class="row">
<div class="col-sm-12">
    <p>責任者のアカウント名・グループ名がわからない場合、まだアカウントがない場合は責任者の詳細情報を入力してください。</p>
</div>

</div>